<div class="item sadadawi-slider-item">
    <div class="header-cover header-cover-style1 overlays darkOverlay position-top full-height" style="background-image: url({{file_url(content.field_slide2_items_image[0]['#media'].field_media_image.entity.uri.value)}})">
        <div class="cover-content col-md-8 col-center textCenter">
            <p class="cover-sub-heading text-color-white1 mb20 xs-mb10">دوّى فى المحافظات</p>
            <h1 class="cover-lg-heading text-color-white1 textCenter mb40 xs-mb20">{{content.field_slide2_items_title.0}}</h1>
            <a href="{{content.field_youtube_link[0]['#url']|render}}" class="popup-youtube video" title="{{content.field_slide2_items_title.0}}">
                <div id="play-video" class="video-play-button">
                    <span></span>
                </div>
            </a>
        </div>
    </div>
</div>