<!-- Page Cover -->
<section class="CERT" id="dawwie-certificate">
    <div class="CERT">
        <h2 class="cert-p">احمد مختار</h2>
        <img src="{{ base_path ~ directory }}/img/dawwie_cerificate_{{language}}.png" />
z    </div>
</section> 
<a href="" class="print-certificate">{{'Print the certificate'|t}}</a>

<style>
    div#block-dawwie-page-title
    {
        display: none;
    }
</style>